<!-- This is the github version because it does not detect the changes of file names. idk why. -->
<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/about.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
	<div id="titlecontainer">
		<button class="buttons" id="button1" onclick="location.href='../index.html'"><span>Home</span></button>
		<button class="buttons" id="button2" onclick="location.href='../templates/about.html'"><span>About</span></button>
		<button class="buttons" id="button3" onclick="location.href='../templates/contact.html'"><span>Contact</span></button>

	</div>

	<div id="imgcontainer">
	<div class="imgs">
		<img id="img1" src="../images/img2.JPG" alt="cute headshot of a dog">
			<p>Hi!!! I'm Koko, a Bichon Frisé :)</p>
	</div>
	<div class="imgs">
		<img src="../images/img3.JPG" alt="dog sleeping with belly upward">
		<p>This is just me sleeping.</P>
	</div>
	<div class="imgs">
		<img src="../images/img4.JPG" alt="dog wanting to eat noodles">
		<p>That smells so good! Can I please have some??</p>
	</div>
	<div class="imgs">
		<img src="../images/img5.JPG" alt="dog laying on the balcony">
		<p>This is first photo Blair took for me 9 years ago.</p>
	</div>
	<div class="imgs">
		<img src="../images/img6.JPG" alt="dog with a bunch of stuffed animals">
		<p> I like playing with her toys, they are fluffy, just like me.</p>
	</div>
	<div class="imgs">
		<img src="../images/img7.JPG" alt="dog with his new haircut and looks like a cotton candy">
		<p>Just got a new haircut! Loving it! </p>
	</div>
	<div class="imgs">
		<img src="../images/img8.jpg" alt="selfie of a girl and her dog">
		<p> Blair likes to take selfie with me when I sleep. </p>
	</div>
	<div class="imgs">
		<img src="../images/img9.jpg" alt="silly moment of dog closing his eyes">
		<p>My eyes are not small! Its just a bad wink. </p>
	</div>
	<div class="imgs">
		<img src="../images/img10.jpg" alt="dog holding a red enevlope">
		<p> I also got a red enevlope during Chinese new year! </p>
	</div>
	<div class="imgs">
		<img src="../images/img11.jpg" alt="dog staring at you for a treat">
		<p> Can I pleeeease have a treat??</p>
	</div>
	<div class="imgs" id="special">
		<img id="bigimg"src="../images/img12.jpg" alt="dog and his family">
		<p> This is my dearest family!!!</p>
	</div>

</div>

	

</body>